* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #fff;
}

/* NAVBAR */
.navbar {
    background: #ffffff;
}

.nav-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #222;
    font-weight: bold;
}

.logo img {
    width: 139px;
    height: 60px;
}

.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--#000000, rgba(0, 0, 0, 1));
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.btn {
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
}


.nav-btn {
    background: #2e8b57;
    color: #fff;
}

/* HERO */
.hero {
    position: relative;
    height: 90vh;

    background-image: url("images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background-image: url(assets/hero-bg.png);
}

.hero-content {
    position: relative;
    z-index: 2;

    max-width: 800px;
    margin: auto;
    padding-top: 120px;
    text-align: center;
}

.badge {
    display: inline-block;
    background-color: #ebe3e3;
    color: #30B868;
    padding: 6px 14px;
    font-size: 16px;
    font-weight: 500px;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 16px;
}




.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero h1 span {
    color: #2ecc71;
}

.hero p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 35px;
    color: #d6dce2;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* BUTTONS */
.primary-btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: #30B868;
    color: rgba(255, 255, 255, 1);
    align-items: center;
    padding: 12px 16px 12px 16px;
    gap: 10;
}

.outline-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px 16px 12px 16px;
    box-sizing: border-box;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;

}

/* HOVER */
.btn:hover {
    opacity: 0.9;
}



/* PROBLEM SECTION */
.problems {
    padding: 90px 20px;
    text-align: center;
    color: #222;
}

.problems h2 {
    font-size: 36px;
    margin-bottom: 10px;
    width: 1360px;
    height: 116px;
}

.subtext {
    width: 1360px;
    height: 44px;
    font-size: 12px;
    color: #4d3e3e;
    margin-top: -50px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}

.problem-cards {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 16px;
    padding: 24px;
    align-items: center;
    justify-content: center;
}

.problem-card {
    background: rgba(255, 255, 255, 1);
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.problem-card img {
    width: 45px;
    margin-bottom: 15px;
    background-color: red;
    border-radius: 50px;
}

.problem-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}

.problem-card h4 {
    margin-bottom: 8px;
}

/* SOLUTION */
.solution {
    background: #f9fbfc;
    padding: 100px 20px;
}

.solution-wrap {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}

.solution-graphic {
    text-align: center;
}

.center-img {
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

.solution-text .tag {
    color: #2ecc71;
    font-size: 12px;
    font-weight: bold;
}

.solution-text h2 {
    font-size: 36px;
    margin: 15px 0;
    color: #0c2340;
}

.solution-text p {
    color: #555;
    margin-bottom: 20px;
}

.solution-text ul {
    list-style: none;
}

.solution-text li {
    margin-bottom: 10px;
    color: #333;
    position: relative;
    padding-left: 22px;
}

.solution-text li::before {
    content: "✔";
    color: #2ecc71;
    position: absolute;
    left: 0;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .solution-wrap {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .solution-text ul {
        text-align: left;
        display: inline-block;
    }
}





/* CTA SECTION */
.cta {
    padding: 100px 20px;
    background: #fff;
    display: flex;
    justify-content: center;
}

.cta-box {
    background: #fbfaf7;
    padding: 60px 30px;
    max-width: 900px;
    width: 100%;
    text-align: center;
    border-radius: 14px;
}

.cta-box h2 {
    font-size: 32px;
    margin-bottom: 12px;
    color: #0c2340;
}

.cta-box p {
    color: #666;
    margin-bottom: 30px;
    font-size: 15px;
}

.cta-btn {
    width: 194px;
    height: 52px;
    background: #30B868;
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.cta-note {
    display: block;
    margin-top: 14px;
    font-size: 13px;
    color: #888;
}

/* MOBILE */
@media (max-width: 768px) {
    .cta-box {
        padding: 40px 20px;
    }

    .cta-box h2 {
        font-size: 26px;
    }
}



/* FOOTER */
.footer {
    background: linear-gradient(180deg, #061c30, #041425);
    color: #fff;
    padding: 60px 20px 30px;
}

.footer-top {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-logo img {
    width: 139px;
    height: 60px;
    
}

.footer-logo strong {
    font-size: 20px;
}

.footer-logo span {
    display: block;
    font-size: 12px;
    color: #bbb;
}

.footer-social h4 {
    margin-bottom: 10px;
    font-size: 16px;
}

.social-icons {
    display: flex;
    gap: 12px;
}

.social-icons img {
    width: 32px;
    background: #fff;
    padding: 6px;
    border-radius: 50%;
}

.footer-bottom {
    width: 1360px;
    height: 24px;
    margin-top: 40px;
    padding-top: 40px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    border-top: 1px solid rgba(255,255,255,0.15);
    text-align: center;
    font-size: 16px;
    color: ;rgba(250, 250, 250, 1);
    text-align: center;
}

/* MOBILE */
@media (max-width: 768px) {
    .footer-top {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
}